/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
height: 100vh;
margin:0;
background-image: url('../public/Bgrd.png');
background-size: cover;
background-position: center;
background-attachment:fixed;
background-repeat: repeat;
background-repeat: no-repeat;
color: #fff
}

