
.today{
    color:#fc8366;
    font-weight: bold;
}

.button_reset:focus-visible{
    background-color: #fc8366;
}

.rdp {
    --rdp-cell-size: 40px;  
}

.nav {
    color: #323153;
}

.selected,
.selected:focus-visible,
.selected:hover {
  color: black;
  font-weight: bold;
  opacity: 1;
  background-color: #599c5f;
}

