
.today{
    color:#fc8366;
    font-weight: bold;
}

/* .selected {
    background-color: #599c5f;
} */

.button[disabled] {
    opacity: 0.25;
  }
  
.button[disabled]{
    cursor: pointer;
  }
  
.button:focus-visible([disabled]) {
    color: inherit;
    background-color: var(--rdp-background-color);
    border: var(--rdp-outline);
  }
  
.button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: var(--rdp-background-color);
  }

.rdp {
    --rdp-cell-size: 40px;  
}

.nav {
    color: #323153;
}

.selected,
.selected:focus-visible,
.selected:hover {
  color: black;
  font-weight: bold;
  opacity: 1;
  background-color: #599c5f;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .rdp {
        --rdp-cell-size: 60px;  
    }
}
 
/*For Tablet View */
@media screen and (min-device-width: 768px) {
    .rdp {
        --rdp-cell-size: 55px;  
    }
    
}
