.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.dropdownButton{
    background-color: #323153;
    color: #fff;
    height : 30px;
    border: none;
}