.reactcalendar {
    width: 450px;
    max-width: 100%;
    background: white;
    border-radius: 15px;
    border: 1px solid rgb(209 213 219);
    font-family: Manrope, Helvetica, sans-serif;
    line-height: 1.125em;

  }